* {
  box-sizing: border-box;
}

html {
  font-family: 'Questrial', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

header {
  height: 100px;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: block;
  width: 70px;
  height: 70px;
  background-image: url('http://www.pngnames.com/files/3/Puma-Logo-Png-Images-Transparent-Background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5%;
}

.header__nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.header__nav-item {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1%;
  margin: 0;
  position: relative;
}

.header__nav-item:hover {
  transition: 0.1s ease;
  background: #2d847c;
  color: white;
}

.header__nav-search:hover {
  color: #2d847c;
  transition: 0.1s ease;
}

.hero {
  margin: 0;
  height: 70%;
}

img {
  width: 100%;
}

.description {
  margin: 0;
}

.description .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  flex-basis: 50%;
  word-spacing: 4px;
  text-align: center;
}

.description p {
  flex-basis: 50%;
  border-left: 2px solid #2d847c;
  padding: 10%;
}

.products {
  text-align: center;
  margin-bottom: 5%;
}

.products .container {
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 32px;
}

.products-type {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  justify-content: space-between;
}

.products-type__image {
  display: block;
  width: 100%;
}

.products-type__link {
  display: flex;
  align-items: center;
  color: #2d847c;
  background-color: white;
  border: 2px solid #2d847c;
  justify-content: center;
  text-decoration: none;
  height: 40px;
}

.products-type__link:hover {
  background: #2d847c;
  transition: 0.2s ease-in-out;
  color: white;
}

.feedback {
  text-align: center;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.feedback__form input:focus,
textarea:focus {
  border: 1px solid #F44336;
}

.feedback__form input,
textarea,
button {
  margin: 2% 0;
  border: 1px solid #CCCCCC;
  height: 30px;
}

.feedback__form textarea {
  height: 100px;
}

.feedback__form button {
  border: 1px solid #2d847c;
  color: #2d847c;
  background: none;
  cursor: pointer;
  height: 70px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
}

.feedback__form button:after {
  position: absolute;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.feedback__form button:before {
  z-index: -1;
  content: '';
  position: absolute;
  background-color: #2d847c;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: all .6s cubic-bezier(.54, 1.51, .71, .75);
}

.feedback__form button:hover {
  color: white;
}

.feedback__form button:hover:before {
  width: 100%;
}

.feedback__form input:focus,
textarea:focus {
  border: none;
}

.footer {
  margin-top: 3%;
  background: black;
}

.footer__desc p {
  margin: 1% 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-top: 30px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  margin: 1%;
}

.footer__social-icon {
  width: 100%;
  height: 100%
}

.footer__social picture {
  width: 15%;
}

.header__search {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.header__search-content {
  position: relative;
  top: 50%;
  width: 80%;
  text-align: center;
  margin: auto;
}

.header__search-content form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__search .header__search-is-closed {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 60px;
  cursor: pointer;
  color: #2d847c;
}

.header__search .header__search-is-closed:hover {
  color: #ccc;
}

.header__search input {
  padding: 1%;
  font-size: 17px;
  border: none;
  width: 80%;
  background: white;
  height: 70px;
}

.header__search input:hover {
  background: #f1f1f1;
}

.header__search button {
  width: 10%;
  margin: 0;
  background: #ddd;
  background-image: url("https://icon-library.net/images/search-icon-png/search-icon-png-9.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 70px;
  padding: 0;
}

.header__search button:hover {
  background: #bbb;
}

.header__search-is-opened {
  display: block;
  transition: 0.5s ease;
}

.header__mobile {
  position: absolute;
  top: 5%;
  left: 88%;
  display: none;
}

.fa-bars {
  font-size: 36px;
}

.fa-bars:hover {
  color: #2d847c;
  transition: 0.1s ease;
}

.header__mobileNav {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(200%);
  transition: 0.5s ease;
}

.header__mobileNav-item {
  width: 100%;
  text-align: center;
  padding: 10%;
}

.header__mobileNav-item:hover {
  background-color: #2d847c;
  transform: 0.2s ease-in-out;
}

.header__mobileNav-is-closed {
  position: absolute;
  top: 0;
  right: 3%;
  font-size: 40px;
  cursor: pointer;
  color: #2d847c;
  z-index: 1;
}

.header__mobileNav-is-closed:hover {
  color: #ccc;
}

.footer__social i:hover {
  color: #2d847c;
  transition: 0.1s ease;
}

.header__nav-products {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  right: -10%;
  z-index: 1;
}

.header__nav-products a {
  margin: 7%;
  background: black;
}

.header__nav-products a:hover {
  color: white;
  transition: 0.1s ease;
  background: #2d847c;
}

.header__nav li:hover .header__nav-products {
  display: flex;
}

.header__nav ul{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
list-style-type: none;
padding:0;
}
.header__nav li{
  margin:5%;
  position:relative;
}
.header__mobileNav ul{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
list-style-type: none;
width:100%;
padding:0;
margin-top:15%;
}

.header__mobileNav li{
  margin: 0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}
.header__mobileNav li:hover{
  color: white;
  transition: 0.1s ease;
  background: #2d847c;
}
.header__mobileNav-products{
	position:absolute;
	left:-100%;
	display:none;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.9)
}
.header__mobileNav-item{
	height:10%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.header__mobileNav-products a{
	height:34%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.header__mobileNav-products a:hover{
	  color: white;
  transition: 0.1s ease;
  background: #2d847c;
}
.header__mobileNav li:hover .header__mobileNav-products {
  display: flex;
}

@media screen and (max-width:768px) {
  .description .container {
    flex-direction: column;
  }
  h3 {
    margin-top: 10%;
  }
  .description p {
    margin: 0;
    border-left: none;
  }
  .products-type {
    display: flex;
    flex-direction: column;
    margin: 10% 15%;
    justify-content: space-between;
  }
  .products .container {
    display: flex;
    flex-direction: column;
  }
  .header__mobile {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__mobileNav-is-opened {
    transform: translateX(100%);
  }
}