@mixin mobile {
  @media (max-width: 768px) { @content; }
}

@include mobile{
.header__mobile {
  display: block;
  z-index: 2;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 12%;
  right: 0%;
  background: rgba(0, 0, 0, 0.9);
  width: 60%;
  display: none;
}

.header__overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.is-opened {
  display: block;
}

.nav {
  li {
    padding: 0;
  }

  ul {
    flex-direction: column;
    margin: 0;
  }
}

.nav__item {
  padding: 30px 30px;
  position: relative;
}

.nav__products {
  position: absolute;
  right: 100%;
  top: 0%;
  width: 70%;
  background: black;
  color: white;

  a:hover {
    background: #2d847c;
  }
}

.nav a {
  padding: 40px 30px;
  color: white;
}

.header__mobileNav-is-opened {
  transform: translateX(100%);
}

.hero img {
  object-fit: cover;
  height: 90vh;
  object-position: 80%;
}

.description .container {
  flex-direction: column;
}

h3 {
  margin-top: 10%;
}

.description__text {
  margin: 0;
  border-left: none;
  border-top: 2px solid black;
}

.products-type {
  display: flex;
  flex-direction: column;
  margin: 10% 15%;
  justify-content: space-between;
}

.products .container {
  display: flex;
  flex-direction: column;
}

}